.member-number-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  >.arrow {
    background-color: black;
    width: 0.5rem;
    height: 0.5rem;
    position: absolute;
    top: 2.25rem;
    transform: rotate(45deg);
  }

  >input {
    z-index: 1;
    width: 4.5rem;
    height: 2.5rem;
    padding: 0.25rem;
    background-color: black;
    border-radius: 0.25rem;
    color: white;
    text-align: center;
    border: 0;
    outline: 0;
    font: inherit;
    margin-bottom: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 20px 0px, rgba(85, 107, 47, 0.4) 0px 7px 10px -5px;
  }
}