.sign-up-form {
  display: flex;
  flex-direction: column;

  >form {
    display: flex;
    flex-direction: column;
    padding: 0.5em 0;

    .sign-up-input-title {
      display: flex;
      margin-bottom: 1em;

      &:not(:first-child) {
        margin-top: 2em;
      }

      >p {
        margin-left: 0.5em;
      }
    }
  }
}