@import-normalize;
// @import './font/font';

// 간단한 css 전역 설정
// normalize는 넣었고, reset은 필요 없어보임. 일부 항목만 아래에서 reset
// font-size는 기기 별 브라우저에게 맡긴다. PC기준으로 16px임.
html,
body {
  height: 100%;
  overflow: auto;
  line-height: normal;
}

body {
  margin: 0;
  // font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  // 스크롤 바 개조. 크롬, safari
  ::-webkit-scrollbar-track,
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar,
  &::-webkit-scrollbar {
    width: 9px;
    height: 9px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: #C8CDD4;
    border-radius: 10px;
    border: 2px solid transparent;
  }

  // 스크롤 바 개조. firefox
  scrollbar-width: thin;
  scrollbar-color: #C8CDD4 transparent;
}

// 브라우저 테이블 스타일 취소
table {
  border-collapse: collapse;
  border-spacing: 0;

  th,
  td {
    text-align: left
  }
}

// 폰트 기본적으로 상위 폰트 쓰게 함
input,
button,
select,
textarea,
pre {
  font-family: inherit;
}

// 브라우저 ul 스타일 취소
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

// 브라우저 button 스타일 취소
button {
  cursor: pointer;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}

// 브라우저 pre, p 스타일 취소
pre,
p {
  margin: 0;
}

/* 공통 상위 컴포넌트 설정*/

div#root {
  height: 100%;
}