@import-normalize;
@import './font/font';

// 간단한 css 전역 설정
// normalize는 넣었고, reset은 필요 없어보임. 일부 항목만 아래에서 reset
// font-size는 기기 별 브라우저에게 맡긴다. PC기준으로 16px임.
html,
body {
  height: 100%;
  overflow: auto;
  line-height: 1.5;
}

body {
  margin: 0;
  font-family: 'Nanum Barun Gothic', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ::-webkit-scrollbar-track,
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar,
  &::-webkit-scrollbar {
    width: 9px;
    height: 9px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: #C8CDD4;
    border-radius: 10px;
    border: 2px solid transparent;
  }

  scrollbar-width: thin;
  scrollbar-color: #C8CDD4 transparent;
}

// table reset
table {
  border-collapse: collapse;
  border-spacing: 0;

  th,
  td {
    text-align: left
  }
}

// font reset
input,
button,
select,
textarea,
pre {
  font-family: inherit;
}

// list reset
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: inline-block;
}

// button reset
button {
  cursor: pointer;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}

// pre, p reset
pre,
p {
  margin: 0;
}

div#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}