@import './mixins.scss';

$lnb-width: 240px;

div.lnb {
  flex: none;
  display: flex;
  flex-direction: column;
  z-index: 1;
  padding: 0 10px;
  box-sizing: border-box;

  &:not(.open) {
    @include transition-width-open;
    width: 96px;
  }

  &.open {
    @include transition-width-close;
    width: $lnb-width;
  }
}