.main-page,
.main-popup-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: white;
}

.main-page main,
.main-popup-page section {
  max-width: 768px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex: auto;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 16px;

  @media (min-width: 600px) {
    padding: 24px;
  }
}