div.main-page {
  display: flex;
  flex-direction: column;
  height: 100%;

  >div {
    flex: auto;
    display: flex;
    flex-direction: row;
    overflow: auto;
    position: relative; // 새로운 stacking context를 생성
    z-index: 0; // gnb보다 낮게 설정
  }

  main {
    display: inline-flex;
    vertical-align: top;
    flex: auto;
    flex-direction: column;
    overflow-x: hidden; // 가로 overflow는 허용하지 않음
    z-index: 0; // lnb보다는 낮게
    // header는 header.scss에서 관리

    article.main-article {
      margin-top: 30px;
      flex: auto;
      min-height: 0; // flex를 위해
      padding: 0 24px; // nav를 제외하는 스크롤을 위해, padding을 .main-section 대신 .main-header와 .main-article에 적용
      overflow-y: auto;
    }
  }
}