@charset "UTF-8";

// 텍스트가 넘치는 경우, ...로 표시한다.
@mixin overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 텍스트가 넘치는 경우, 단어가 잘리도록 개행시킨다.
@mixin overflow-break-all {
  overflow-wrap: anywhere;
  word-break: break-all;
  white-space: pre-wrap;
}