.ruler-box {
  position: relative;
  overflow: hidden;

  .ruler-center-box {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 3px;
    height: 35px;
    background-color: lightseagreen;
  }
}

.canvas {
  display: block;
  margin: 0 auto;
  transition-duration: 300ms;
}